body{
    background-color: red;
<<<<<<< HEAD
<<<<<<< HEAD
    margin:20px;
    padding:30px;
    color:white;
    display: block;
=======
    cursor: pointer;
>>>>>>> feature-a
=======
    box-shadow: 10px 10px 2px black;
>>>>>>> feature-b
}